{% extends 'layout/_layout.html' %}
{% load static %}

{% block title %}Ingredients{% endblock %}

{% block content %}
  <div class="row pt-5">
    {% if ingredient_list  %}
      <form class="input-group mb-3" method="get">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input value="{{ request.GET.q }}" name="q" type="text" class="form-control" placeholder="Search for ingredients by name or article number">
      </form>
      {% for ingredient in ingredient_list %}
      <div class="col-md-4 pt-4">
        {% include 'ingredients/__detail_card.html' %}
      </div>
      {% endfor %}
    {% else %}

    {% if request.GET.q %}
      <p class="lead">No ingredients found matching {{ request.GET.q }}. <a href="{% url 'ingredients' %}">Back to all ingredients</a>.</p>
    {% else %}
    <p class="lead">No ingredients have been added. Add an <a href="{% url 'ingredient-add' %}">ingredient</a></p>
    {% endif %}

    {% endif %}
  </div>
{% endblock %}