{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Recipe manager">
  <meta name="author" content="Ajoy">

  <link rel="icon" href="{% static '/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
  {% block body %}
  {% endblock %}
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</body>
</html>

