{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Recipe manager">
  <meta name="author" content="Ajoy">

  <link rel="icon" href="{% static '/favicon.png' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">

</head>

<body>
  {% block body %}
  {% endblock %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

